/* #region HTML RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* #endregion */

/* #region MAIN CLASSES */
html
{
    background-color: #faf1b7;
}
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header
{
    height: 75px;
    background-color:#f3de57;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
}
main
{
    padding: 15px;
}
h1
{
    font-size: 36px;
}
h2
{
    font-size: 32px;
}
h3
{
    font-size: 26px;
}
h4
{
    font-size: 20px;
}

/* flex classes */
.flex-break
{
    flex-basis: 100%;
    height: 0;
}

/* #endregion */

/* #region DATE SECTION */
#date-section
{
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

#odds-board-sport, #odds-board-api
{
    width: 300px;
}

#odds-board-cal
{
    flex: 1;
    margin: auto;
    text-align: center;
}
/* #endregion */

/* #region GAME SECTION */
#games
{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.game-container
{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
/* #endregion */

/* #region TEAM CLASSES */
.team-container
{
    display: flex;
    align-items: center;
    align-content: center;
}

.team-div
{
    height: 50px;
}

.team-img
{
    vertical-align: middle;
    width: 50px;
}

.team-img img
{
    width: 40px;
    height: 40px;
    object-fit:contain;
}

.team-name
{
    font-size: 16px;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 5px;
    width: 100px;
}

.bet-market
{
    font-size: 12px;
    width: 100px;
}

.bet-box-container
{
    width: 25px;
}

.bet-box
{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    margin: auto;
}

.team-bet-text-container
{
    display: flex;
    align-items: center;
    line-height: 5px;
    height: 5px;
}

.team-bet-text-left-space
{
    margin-left: 255px;
    display: inline-block;
}

.bet-text
{
    line-height: 5px;
    width: 25px;
    display: inline-block;
    text-align: center;
}
/* #endregion */

/* #region OTHER CLASSES */
#call-nba-api
{
    float: right;
}
/* #endregion */